@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Roboto&display=swap');

body{
font-family: 'Roboto', sans-serif;
}

:CSS_h3{
font-family: 'Barlow', sans-serif;
font-size: 2em;
}

/* font-family: 'Barlow', sans-serif;


