@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Roboto&display=swap');

body{
font-family: 'Roboto', sans-serif;
}

h3{
font-family: 'Barlow', sans-serif;
font-size: 500px;
}

nav{
background-color: #FDE032;
}
.nav-link{
color: #7667f9 !important;
font-size: 50px;
}

.containerHeader{
margin-left: 0 !important;
margin-right: 0 !important;
}

#logoDescodeuses{
  width: 300px;
}
#glypheDescodeuses{
  width: 50px;
}
.navbar-collapse {
  align-items: start !important;
  margin-top: 500px;
}
#navbarSupportedContent{
  height: 100vh;
}
#btnApply{
  background-color: #7667f9 ;
  color: #FDE032 !important;
  border: 2px solid #7667f9;
  border-radius: 5px;
  font-size: 50px;
  margin-top: 50px;
}

footer{
  border-top: 2px solid rgb(0, 0, 0);
}

.calendrier{
width: 80%;
}