@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Roboto&display=swap');
:root {
  --violet: #7667f9;
  --yellow: #FDE032; 
}

body{
font-family: 'Roboto', sans-serif;
}

footer{
  border-top: 2px solid rgb(0, 0, 0);
}
footer ul {
	list-style: none;
}
footer a {
	text-decoration: none;
	color: black;
}

/* en attente du bon document (calendrier formation) */
/* .calendrier{
width: 80%;
} */
